<!DOCTYPE html>

<html>
    <head>        
    </head>

    <body>
        <%- include header.ejs%> 
        <%- include navBar.ejs%>
<div class="container" id="content">
    <div class="mainMenu">
            <h2>Ebox Services</h1>
            <img class="img-responsive" src="img/Ebox.jpg">
             <table class="table table-striped table-bordered">
                <% for(var i=0; i<livraisons.length; i++) {%>
                <tr>
                    <td><span>Heure de livraison : </span><%= livraisons[i].horaire %></td>
                    <td><span>Reçu à : </span><%= livraisons[i].time %></td>
                </tr>
                <% } %>
        </table>
    </div>
</div>
        <%- include footer.ejs%> 
    </body>
</html>