<!DOCTYPE html>

<html>
    <head>        
    </head>

    <body>
        <%- include header.ejs%> 
        <%- include navBar.ejs%>
<div class="container" id="content">
    <div class="mainMenu">
            <h2>Ebox Services</h1>
            <img class="img-responsive" src="img/Ebox.jpg">
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Nombre de courrier reçu</td><td><%= stat.mail %></td>
                </tr>
                <tr>
                    <td>Nombre de pub reçu</td><td><%= stat.pub %></td>
                </tr>
                <tr>
                    <td>Nombre d'ouverture de porte</td><td><%= stat.opened %></td>
                </tr>
                <tr>
                    <td>Nombre de fermeture de porte</td><td><%= stat.closed %></td>
                </tr>
                <tr>
                    <td>Nombre de livraison reçu</td><td><%= stat.delivery %></td>
                </tr>
        </table>
    </div>
</div>
        <%- include footer.ejs%> 
    </body>
</html>